# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Cmake
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
CMakeFiles
Makefile

#vs
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.vcproj
*.ncb
*.sln
*.suo
*.user
*.aps
*.vspscc
*.vssscc
*.vshost.*
*.obj
*.pdb
*.pch
*.res
*.tlb
*.tlh
*.ilk
*.tlog
*.manifest
*.log
*.vspx
*.publish.xml
*.pubxml
*.cache
*.nupkg
*.pfx
*.snk
*.vsix
*.vsixmanifest
*.psess
*.vsp
*.vspx
*.vsix
*.vsixmanifest
*.sln.docstates
*.suo
*.user
*.vbw
*.vbw.*
*.psess
*.vsp
*.json
*.exe.recipe
*.FileAbsolute.txt
*.FileListAbsolute.txt
*.recipe
*.ppm